@inherits Umbraco.Web.Mvc.UmbracoTemplatePage



@{
    var selection = Model.Content.Site().FirstChild("pageContent").FirstChild("filmSection").Children()
                        .Where(x => x.IsVisible());
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Rating
        </th>
        <th>
            Duration
        </th>
    </tr>

    @foreach (var item in selection)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.GetPropertyValue("rating")
            </td>
            <td>
                @item.GetPropertyValue("duration")
            </td>
        </tr>
    }
</table>