<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT film ANY>
<!ATTLIST film id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT pageContent ANY>
<!ATTLIST pageContent id ID #REQUIRED>
<!ELEMENT filmSection ANY>
<!ATTLIST filmSection id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1079" key="7b9653cc-3cbc-4cd8-83d8-bf11c910ffca" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-06-14T11:59:26" updateDate="2019-06-14T11:59:48" nodeName="Home" urlName="home" path="-1,1079" isDoc="" nodeType="1073" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="1072" nodeTypeAlias="homePage" isPublished="true">
    <pageContent id="1080" key="33ed7bca-e1bb-4274-80a7-bc9e25ac8a4b" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2019-06-14T11:59:43" updateDate="2019-06-14T15:34:47" nodeName="Page Content" urlName="page-content" path="-1,1079,1080" isDoc="" nodeType="1075" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="pageContent" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <filmSection id="1096" key="688c72ad-aeac-456d-b9b8-50e45d944b0e" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2019-06-14T15:34:37" updateDate="2019-06-18T10:18:57" nodeName="Film Section" urlName="film-section" path="-1,1079,1080,1096" isDoc="" nodeType="1095" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="1094" nodeTypeAlias="filmSection" isPublished="true">
        <film id="1097" key="93f38818-b7ab-4d39-9e1d-5ffb17f7861c" parentID="1096" level="4" creatorID="0" sortOrder="0" createDate="2019-06-14T15:35:19" updateDate="2019-06-19T12:09:33" nodeName="Casino Royale" urlName="casino-royale" path="-1,1079,1080,1096,1097" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2006]]></releaseDate>
          <rating>9</rating>
          <duration>3</duration>
          <filmName><![CDATA[Casino Royale]]></filmName>
        </film>
        <film id="1098" key="91e33196-fbf3-4239-807d-feebd23e9aa8" parentID="1096" level="4" creatorID="0" sortOrder="1" createDate="2019-06-14T15:36:16" updateDate="2019-06-19T12:09:47" nodeName="Lady and The Tramp" urlName="lady-and-the-tramp" path="-1,1079,1080,1096,1098" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1955]]></releaseDate>
          <rating>8</rating>
          <duration>1.24</duration>
          <filmName><![CDATA[Lady and The Tramp]]></filmName>
        </film>
        <film id="1099" key="04f2f915-bd76-42e7-beaf-71b6de47c1bd" parentID="1096" level="4" creatorID="0" sortOrder="2" createDate="2019-06-14T15:37:08" updateDate="2019-06-19T12:09:53" nodeName="Schindler's List" urlName="schindlers-list" path="-1,1079,1080,1096,1099" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1993]]></releaseDate>
          <rating>9</rating>
          <duration>3.3</duration>
          <filmName><![CDATA[Schindler's List]]></filmName>
        </film>
        <film id="1100" key="7eb4f835-1067-4886-8aa9-cb3e657763fe" parentID="1096" level="4" creatorID="0" sortOrder="3" createDate="2019-06-14T15:37:50" updateDate="2019-06-19T12:10:00" nodeName="The Lion King" urlName="the-lion-king" path="-1,1079,1080,1096,1100" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2019]]></releaseDate>
          <rating>7</rating>
          <duration>2.4</duration>
          <filmName><![CDATA[The Lion King]]></filmName>
        </film>
        <film id="1101" key="a5839f9e-a78f-491d-9356-5682eb604ee0" parentID="1096" level="4" creatorID="0" sortOrder="4" createDate="2019-06-17T14:02:32" updateDate="2019-06-19T12:10:06" nodeName="Black Panther" urlName="black-panther" path="-1,1079,1080,1096,1101" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2018]]></releaseDate>
          <rating>9</rating>
          <duration>2.9</duration>
          <filmName><![CDATA[Black Panther]]></filmName>
        </film>
        <film id="1102" key="5afc8f63-919c-4f78-9fd6-6845757969ce" parentID="1096" level="4" creatorID="0" sortOrder="5" createDate="2019-06-17T14:03:06" updateDate="2019-06-19T12:10:12" nodeName="The Godfather" urlName="the-godfather" path="-1,1079,1080,1096,1102" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1972]]></releaseDate>
          <rating>9</rating>
          <duration>3.5</duration>
          <filmName><![CDATA[The Godfather]]></filmName>
        </film>
        <film id="1103" key="7ef6de67-ec03-44a7-ab39-3b73e929ec08" parentID="1096" level="4" creatorID="0" sortOrder="6" createDate="2019-06-17T14:03:34" updateDate="2019-06-19T12:10:37" nodeName="Toy Story 3" urlName="toy-story-3" path="-1,1079,1080,1096,1103" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2010]]></releaseDate>
          <rating>4</rating>
          <duration>2.6</duration>
          <filmName><![CDATA[Toy Story 3]]></filmName>
        </film>
        <film id="1104" key="df981c0f-0890-4239-b743-96b8ec50ad7d" parentID="1096" level="4" creatorID="0" sortOrder="7" createDate="2019-06-17T14:04:03" updateDate="2019-06-19T12:10:54" nodeName="Blade Runner" urlName="blade-runner" path="-1,1079,1080,1096,1104" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1982]]></releaseDate>
          <rating>6</rating>
          <duration>2.8</duration>
          <filmName><![CDATA[Blade Runner]]></filmName>
        </film>
        <film id="1105" key="f0060a1b-63c3-4d93-a771-cc417b1df6f5" parentID="1096" level="4" creatorID="0" sortOrder="8" createDate="2019-06-17T14:04:45" updateDate="2019-06-19T12:11:03" nodeName="Back to the Future" urlName="back-to-the-future" path="-1,1079,1080,1096,1105" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1985]]></releaseDate>
          <rating>8</rating>
          <duration>5</duration>
          <filmName><![CDATA[Rocky]]></filmName>
        </film>
        <film id="1106" key="720f7de5-ce19-46c7-89a6-059ee026cd18" parentID="1096" level="4" creatorID="0" sortOrder="9" createDate="2019-06-17T14:07:35" updateDate="2019-06-19T12:11:13" nodeName="Rocky" urlName="rocky" path="-1,1079,1080,1096,1106" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1976]]></releaseDate>
          <rating>7</rating>
          <duration>4.2</duration>
          <filmName><![CDATA[Titanic]]></filmName>
        </film>
        <film id="1107" key="30125d90-30d4-40ce-a0a3-bb496222b0ef" parentID="1096" level="4" creatorID="0" sortOrder="10" createDate="2019-06-17T14:08:38" updateDate="2019-06-19T12:11:28" nodeName="Titanic" urlName="titanic" path="-1,1079,1080,1096,1107" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1997]]></releaseDate>
          <rating>7</rating>
          <duration>3.3</duration>
          <filmName><![CDATA[Aladdin]]></filmName>
        </film>
        <film id="1108" key="6fdc9c5f-bf35-4037-b37a-947b5122bfd8" parentID="1096" level="4" creatorID="0" sortOrder="11" createDate="2019-06-18T10:17:22" updateDate="2019-06-19T12:13:42" nodeName="The Dark Knight" urlName="the-dark-knight" path="-1,1079,1080,1096,1108" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2008]]></releaseDate>
          <rating>9</rating>
          <duration>3.4</duration>
          <filmName><![CDATA[The Dark Knight]]></filmName>
        </film>
        <film id="1109" key="411a3977-5564-4780-880d-37dd2b8713dc" parentID="1096" level="4" creatorID="0" sortOrder="12" createDate="2019-06-18T10:17:53" updateDate="2019-06-19T12:13:28" nodeName="Avatar" urlName="avatar" path="-1,1079,1080,1096,1109" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2009]]></releaseDate>
          <rating>7</rating>
          <duration>3</duration>
          <filmName><![CDATA[The Incredibles]]></filmName>
        </film>
        <film id="1110" key="5fb3f5f3-db9e-4ea4-a207-32adfd18b56b" parentID="1096" level="4" creatorID="0" sortOrder="13" createDate="2019-06-18T10:20:24" updateDate="2019-06-19T12:13:08" nodeName="The Lion, the Witch and the Wardrobe" urlName="the-lion-the-witch-and-the-wardrobe" path="-1,1079,1080,1096,1110" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2005]]></releaseDate>
          <rating>2</rating>
          <duration>2.2</duration>
          <filmName><![CDATA[The Lion, the Witch and the Wardrobe]]></filmName>
        </film>
        <film id="1111" key="c7d36e76-8aa6-4486-a52f-398110b60227" parentID="1096" level="4" creatorID="0" sortOrder="14" createDate="2019-06-18T14:35:34" updateDate="2019-06-19T12:12:51" nodeName="The Martian" urlName="the-martian" path="-1,1079,1080,1096,1111" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2015]]></releaseDate>
          <rating>7</rating>
          <duration>4</duration>
          <filmName><![CDATA[The Martian]]></filmName>
        </film>
        <film id="1112" key="186154c9-17ec-47b5-92bd-23b99ee53f88" parentID="1096" level="4" creatorID="0" sortOrder="15" createDate="2019-06-18T14:36:03" updateDate="2019-06-19T12:12:38" nodeName="Annihilation" urlName="annihilation" path="-1,1079,1080,1096,1112" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2018]]></releaseDate>
          <rating>1</rating>
          <duration>2.3</duration>
          <filmName><![CDATA[Annihilation]]></filmName>
        </film>
        <film id="1113" key="91a58152-2a51-43b2-b56c-4d142992772b" parentID="1096" level="4" creatorID="0" sortOrder="16" createDate="2019-06-18T14:37:08" updateDate="2019-06-19T12:12:24" nodeName="The Avengers" urlName="the-avengers" path="-1,1079,1080,1096,1113" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2019]]></releaseDate>
          <rating>7</rating>
          <duration>3.1</duration>
          <filmName><![CDATA[The Avengers]]></filmName>
        </film>
        <film id="1114" key="00a80e3f-9886-4098-aa9a-74bbdaaa8f6c" parentID="1096" level="4" creatorID="0" sortOrder="17" createDate="2019-06-19T11:37:25" updateDate="2019-06-19T12:12:09" nodeName="Shutter Island" urlName="shutter-island" path="-1,1079,1080,1096,1114" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2010]]></releaseDate>
          <rating>7</rating>
          <duration>1.7</duration>
          <filmName><![CDATA[Shutter Island]]></filmName>
        </film>
        <film id="1115" key="6438dcac-8d3b-44c7-927e-f81bb1d6a62d" parentID="1096" level="4" creatorID="0" sortOrder="18" createDate="2019-06-19T11:38:10" updateDate="2019-06-19T12:11:53" nodeName="Inception" urlName="inception" path="-1,1079,1080,1096,1115" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[2010]]></releaseDate>
          <rating>7</rating>
          <duration>3.4</duration>
          <filmName><![CDATA[Inception]]></filmName>
        </film>
        <film id="1116" key="717d62ac-d5c1-4aaa-bdc9-6ffdcbe53b2d" parentID="1096" level="4" creatorID="0" sortOrder="19" createDate="2019-06-19T11:39:49" updateDate="2019-06-19T12:11:42" nodeName="The Usual Suspects" urlName="the-usual-suspects" path="-1,1079,1080,1096,1116" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="0" nodeTypeAlias="film" isPublished="true">
          <releaseDate><![CDATA[1995]]></releaseDate>
          <rating>3</rating>
          <duration>2</duration>
          <filmName><![CDATA[The Usual Suspects]]></filmName>
        </film>
      </filmSection>
    </pageContent>
  </homePage>
</root>