<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT film ANY>
<!ATTLIST film id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT pageContent ANY>
<!ATTLIST pageContent id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1079" key="7b9653cc-3cbc-4cd8-83d8-bf11c910ffca" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-06-14T11:59:26" updateDate="2019-06-14T11:59:48" nodeName="Home" urlName="home" path="-1,1079" isDoc="" nodeType="1073" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="1072" nodeTypeAlias="homePage" isPublished="true">
    <pageContent id="1080" key="33ed7bca-e1bb-4274-80a7-bc9e25ac8a4b" parentID="1079" level="2" creatorID="0" sortOrder="0" createDate="2019-06-14T11:59:43" updateDate="2019-06-14T11:59:43" nodeName="HomeContent" urlName="homecontent" path="-1,1079,1080" isDoc="" nodeType="1075" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="1074" nodeTypeAlias="pageContent" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <film id="1084" key="06997ed6-6251-4fab-b7dc-34b538c90de8" parentID="1080" level="3" creatorID="0" sortOrder="0" createDate="2019-06-14T12:07:57" updateDate="2019-06-14T12:18:14" nodeName="Films" urlName="films" path="-1,1079,1080,1084" isDoc="" nodeType="1068" creatorName="Matthew Winterbottom" writerName="Matthew Winterbottom" writerID="0" template="1067" nodeTypeAlias="film" isPublished="true">
        <filmName><![CDATA[All films]]></filmName>
        <filmList><![CDATA[<table border="1" style="border-collapse: collapse; width: 100%; height: 86px;">
<tbody>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Name</td>
<td style="width: 33.3333%; height: 21px;">Rating</td>
<td style="width: 33.3333%; height: 21px;">Duration (hours)</td>
</tr>
<tr style="height: 23px;">
<td style="width: 33.3333%; height: 23px;">Casino Royale</td>
<td style="width: 33.3333%; height: 23px;">8.6</td>
<td style="width: 33.3333%; height: 23px;">2 hours</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">12 Angry Men</td>
<td style="width: 33.3333%; height: 21px;">9.2</td>
<td style="width: 33.3333%; height: 21px;">3.5 hours</td>
</tr>
<tr style="height: 21px;">
<td style="width: 33.3333%; height: 21px;">Testing 123</td>
<td style="width: 33.3333%; height: 21px;">5.1</td>
<td style="width: 33.3333%; height: 21px;">1.5 hours</td>
</tr>
</tbody>
</table>]]></filmList>
      </film>
    </pageContent>
  </homePage>
</root>